user.cfg
__pycache__
.vscode
*.log

input/AGRU/*
!input/AGRU/formato.txt
input/COT/*
!input/COT/formato.txt
input/RTUs/*
!input/RTUs/formato.txt
output/AGRU_MOD/*
!output/AGRU_MOD/formato.txt
output/TABLAS/*
!output/TABLAS/formato.txt
input/Dispositivos.xlsx

compiler/build
compiler/dist
exe